{% extends 'base.html' %}

{% block pageheading %}
Details showing for "{{ words[1] }}"
{% endblock %}


{% block main %}

    <table>
        <tr>
            <th>Maori Word</th>
            <th>English Word</th>
            <th>Definition</th>
            <th>Level</th>
            <th>Category</th>
            <th>Image</th>
            <th>Date/Time Added</th>
            <th>User</th>
        </tr>

        <tr>
            <td>{{ words[1] }}</td>
            <td>{{ words[2] }}</td>
            <td>{{ words[3] }}</td>
            <td>{{ words[4] }}</td>
            <td>{{ words[6] }}</td>
            {% if words[7] %}
            <td><img src="/static/images/{{ words[7] }}" alt="image not available" width></td>
            {% else %}
            <td><img src="/static/images/noimage.png" alt="image not available"></td>
            {% endif %}
            <td>{{ words[8] }}</td>
            <td>{{ words[9] }}</td>
        </tr>

    </table>

{% endblock %}
